body {
  background-image: url("../assets/crew/background-crew-mobile.jpg");
}

/*start carousel*/
.content {
  margin-top: 70px;
  font-family: 'Barlow';
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.content span {
  font-family: 'Bellefair';
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.content h2 {
  margin-top: 5px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.content p {
  margin: 17px auto;
  width: 325px;
  color: #D0D6F9;
}

.carousel-indicators {
  margin: 0;
  align-items: center;
  justify-content: space-between;
  width: 88px;
  height: 10px;
  left: 144px;
  top: 271px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  box-sizing: border-box;
  margin: 0;
  border: none;
}

.carousel-indicators button:hover::after {
  transform: scaleX(0);
}

.carousel-indicators button[aria-current="true"]::after {
  transform: scaleX(0);
}

.carousel-inner {
  overflow: visible;
}

.hero {
  margin: 16px 0 0 106px;
  width: 177px;
  height: 222px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.break {
  margin: 0 auto;
}

.carousel-inner :nth-child(1) .hero {
  background-image: url(../assets/crew/image-douglas-hurley.png);
}

.carousel-inner :nth-child(2) .hero {
  background-image: url(../assets/crew/image-mark-shuttleworth.png);
}

.carousel-inner :nth-child(3) .hero {
  background-image: url(../assets/crew/image-victor-glover.png);
}

.carousel-inner :nth-child(4) .hero {
  background-image: url(../assets/crew/image-anousheh-ansari.png);
}

/*end carousel*/
@media only screen and (min-width:768px) {
  body {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }

  .title span {
    margin-right: 13px;
  }

  .holder {
    flex-direction: column-reverse;
  }

  .hero {
    margin: 68px 0 0 193px;
      width: 415px;
      height: 572px;
  }

  .break {
    display: none;
  }

  .content {
    margin-top: 44px;
    font-size: 16px;
    line-height: 28px;
  }

  .content span {
    font-size: 24px;
    line-height: 28px;
  }

  .content h2 {
    margin-top: 7px;
    font-size: 40px;
    line-height: 46px;
  }

  .content p {
    margin-top: 15px;
    width: 444px;
  }

  .carousel-indicators {
    left: 340px;
      top: 265px;
  }

}
/*end tablet adjust.*/
/*start desktop adjust.*/
@media only screen and (min-width:1440px) {
  body {
    width: 1440px;
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }

  .title span {
    margin-right: 20px;
  }

  .holder {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .hero {
    width: 517px;
    height: 712px;
        position: relative;
        top: -140px;
        left: -140px;
  }

  .break {
    display: none;
  }

  .content {
    margin: 138px 78px 0 0px;
        font-size: 18px;
        line-height: 32px;
        text-align: left;
  }

  .content span {
    font-size: 32px;
line-height: 37px;
  }

  .content h2 {
    margin-top: 16px;
    font-size: 56px;
line-height: 64px;
  }

  .content p {
    margin: 26px 0;
  }

  .carousel-indicators {
    width: 132px;
    height: 15px;
    left: 167px;
    top: 529px;
  }
  .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
  }
}
/*end desktop adjust.*/
