* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 375px;
  background-color: #0B0D17;
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

/*start nav*/
nav {
  padding: 24px 24px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
}

.line {
  display: none;
}

.links.tablet {
  display: none;
}

.icon-hamburger {
  margin-top: 5px;
  width: 24px;
  height: 21px;
  background-color: transparent;
  border: none;
}

.icon-close {
  margin: 13px 9px 0 auto;
  border: none;
  background-color: transparent;
}

.offcanvas.offcanvas-end {
  width: 254px;
  height: 667px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.links {
  font-family: 'Barlow Condensed';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.links span {
  margin-right: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.links ul {
  list-style: none;
  padding-left: 16px;
  padding-top: 32px;
}

.links li {
  position: relative;
  margin-bottom: 32px;
}

.links ul li:nth-child(2) span {
  margin-right: 12px;
}

.links a {
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}

.links li::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  background: #FFFFFF;
  left: 100%;
  bottom: 0;
  transform: scaleY(0);
  transition: transform 0.3s ease;
}

.links li:hover::after {
  transform: scaleY(1);
}

/*end nav*/
/*start intro*/
.holder {
  display: flex;
  flex-direction: column;
}

.intro {
  padding-top: 45px;
  font-family: 'Barlow';
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #D0D6F9;
}

.intro span {
  padding-left: 2px;
  font-family: 'Barlow Condensed';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.intro h1 {
  margin-top: 13px;
  font-family: 'Bellefair';
  font-size: 80px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.intro p {
  margin: 18px auto 0;
  width: 325px;
}

.circle {
  margin: 79px auto 0;
  padding: 8px 0 0 5px;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  font-family: 'Bellefair';
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #0B0D17;
  text-transform: uppercase;
}

.circle:hover {
  box-shadow: 0px 0px 20px 20px rgb(255 255 255 / 10%);
}

/*end intro*/
/*start footer*/
.attribution {
  position: absolute;
  width: 375px;
  bottom: 0;
  font-family: 'Barlow';
  font-size: 16px;
  text-align: center;
  color: white;
}

/*end footer*/
/*start tablet adjust.*/
@media only screen and (min-width:768px) {
  body {
    width: 768px;
    background-image: url("../assets/home/background-home-tablet.jpg");
  }

  nav {
    padding: 0;
    width: 729px;
    height: 96px;
    margin-left: auto;
  }

  .logo {
    margin-top: 24px;
    width: 48px;
    height: 48px;
  }

  .icon-hamburger, .offcanvas {
    display: none;
  }

  .links.tablet {
    display: block;
    width: 450px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
  }

  .links.tablet ul {
    margin: 39px 0 0 48px;
    padding: 0;
    display: flex;
    width: 356px;
  }

  .links.tablet li {
    margin-right: 37px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
  }

  .links.tablet span {
    display: none;
  }

  .links li::after {
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -40px;
    transform: scaleX(0);
  }

  .links li:hover::after {
    transform: scaleX(1);
  }

  .links li[aria-current="here"]::after {
    transform: scaleX(1);
  }

  .intro {
    padding-top: 107px;
    font-size: 16px;
    line-height: 28px;
  }

  .intro span {
    padding-left: 4px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .intro h1 {
    margin-top: 20px;
    margin-left: -6px;
    font-size: 150px;
    line-height: 150px;
  }

  .intro p {
    margin: 24px auto 0;
    width: 445px;
  }

  .circle {
    margin: 155px auto 0;
    padding: 0;
    width: 242px;
    height: 242px;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
  }
  .attribution {
    width: 768px;
    font-size: 18px;
  }
}

/*end tablet adjust.*/
/*start desktop adjust.*/
@media only screen and (min-width:1440px) {
  body {
    width: 1440px;
    background-image: url("../assets/home/background-home-desktop.jpg");
  }

  nav {
    position: relative;
    margin-top: 40px;
    width: 1385px;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .line {
    display: block;
    position: absolute;
    width: 473px;
    height: 1px;
    top: 48px;
    left: 112px;
    z-index: 1;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
  }

  .links.tablet {
    width: 830px;
  }

  .links.tablet ul {
    margin: 38px 0 0 123px;
    width: 542px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }

  .links.tablet li {
    margin-right: 49px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }

  .links.tablet span {
    margin-right: 9px;
    display: revert;
  }

  .holder {
    flex-direction: row;
  }

  .intro {
    padding: 252px 0 0 165px;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
  }

  .intro span {
    padding-left: 0;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }

  .intro h1 {
    margin: 20px 0;
    font-size: 150px;
    line-height: 172px;
  }

  .intro p {
    margin: 24px 0;
  }

  .circle {
    margin: 0 165px 23px auto;
    align-self: flex-end;
    width: 274px;
    height: 274px;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
  }
  .attribution {
    width: 1440px;
  }
}

/*end desktop adjust.*/
